<form ng-submit="searchSongs()">
	<input type="text" ng-model="artist" placeholder="Artist to search" id="artist">
	<input class="btn-primary" type="submit" value="Search">
</form>

<table>
	<tr>
		<th ng-repeat="art in arts"><p class="nextart" ng-click="search(art)">{{art}}</p></th>
	</tr>
	<tr>
		<td ng-repeat="img in imgs"><img ng-src="{{img}}" class="img-thumbnail" ng-click="search(arts[$index])"></td>
	</tr>
</table>

<div ng-repeat="song in songs">
	<p ng-click="play(song.artist.name, song.name, $index)" ng-class='{"act":sel==$index}' class="s">{{song.artist.name}} - {{song.name}}</p>	
</div>
<div ui-view>
</div>
